@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Josefin Sans";
}

:root {
  --bg-color: hsl(235, 21%, 11%);
  --taskbg-color: hsl(235, 24%, 19%);
  --font-color1: hsl(234, 39%, 85%);
  --font-color2: hsl(234, 11%, 52%);
  --font-color3: hsl(233, 14%, 35%);
  --divisions-color: hsl(237, 14%, 26%);

  --hover-color: hsl(236, 33%, 92%);
  --active-color: #4672db;
}
.lightTheme {
  --bg-color: hsl(236, 33%, 92%);
  --taskbg-color: hsl(0, 0%, 98%);
  --font-color1: hsl(235, 19%, 35%);
  --font-color2: hsl(236, 9%, 61%);
  --font-color3: hsl(235, 12%, 80%);
  --divisions-color: hsl(236, 33%, 92%);
}
/* 
.app {
  display: flex;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  font-size: 44px;
  padding: 32px;
}

#nameDiv {
  display: flex;
  justify-content: center;
}

button.action {
  padding: 4px 8px;
  font-size: 32px;
  margin: 0 12px;
} */
